button[data-skin="transparent"] {

    padding: var(--spacing-2xs);

    border-radius: calc(var(--spacing-2xs) / .8);

    &:hover {

        background: oklch(from var(--color-gray-200) l c h / 0.8); //Added slightly lighter / darker background when hovering items ~URB!

    }

}
