button[data-skin="transparent"] {

    padding: var(--spacing-2xs);

    border-radius: calc(var(--spacing-2xs) / .8);

    &:hover {

        background: oklch(from var(--color-gray-200) l c h / 0.8); //Added slightly lighter / darker background when hovering items ~URB!

    }

}

input[type="range"][data-skin="flat"] {

  height: .6rem; //Lowers the height of track line ~URB!

  border-radius: calc(var(--spacing-2xs) + .4rem);
  background: oklch(from var(--color-gray-200) l c h / 0.8); //Sets the track background into lighter ~URB!

}
