@import "shared";
@import "buttons";

.taskbar {

    background: unset; //Removes background colour ~URB!

    &.vertical[data-size="full-width"] {

        .weg-items-center, .weg-items-right {

            flex: unset !important; //Sets vertical direction to always be at the bottom corner, with docking zones kept working ~URB!

            margin: var(--spacing-2xs) 0 0; //Sets small spacing in-between docking zones ~URB!

            &[data-empty="true"] {

                padding: var(--spacing-xs) 0; //Adds small padding to empty docking zones for easier grab & drop ~URB!

            }

        }

        .weg-items-left {

            justify-content: flex-end !important; //Aligns content of first docking zone always to bottom corner ~URB!

        }

    }

}

.weg-item {

    padding: var(--spacing-xs); //Sets small spacing to icons ~URB!

    background: unset; border-radius: unset; box-shadow: unset; //Removes background colour, border-radius & box-shadow ~URB!

    .weg-item-icon {

        filter: drop-shadow(0 0 .2rem oklch(from var(--color-gray-25) l c h / 1)); //Added slight drop-shadow to icons ~URB!

        &:hover {

            filter: brightness(1.5) saturate(1.5); //Increased brightness & saturation when hovering over app icon ~URB!

        }

    }

}
