@import "shared";
@import "buttons";

.media-popup {

    @include fakrylic; //Injects custom made acrylic material Fake-Acrylic™ to match the rest of WIN 11 UI ~URB!

}

.media-control-label {

    font-size: .8rem; //Changed size from pixels to rem with slight size increase for headlines which should better match the rest of WIN 11 UI ~URB!
    font-weight: 700; //Changed headlines weight to better match rest of the WIN 11 UI ~URB!

    text-transform: unset; letter-spacing: unset; //Reverts uppercase and letter-spacing to keep them in line with rest of the WIN 11 UI ~URB!

}

.media-device-group {

    flex-direction: row; //Changes group flex direction into rows ~URB!

}

.media-device {

    width: calc(100% - var(--spacing-xs) /2); //If there is one media device width is set to 100% of popup window ~URB!
    min-width: calc(50% - var(--spacing-xs) /2); //If there are more media devices width is set to 50% of popup window ~URB!

    padding: calc(var(--spacing-xs) / 2.5);

    border-radius: calc(var(--spacing-xs) / 2);

    transition: background .1s ease-in-out;

    &:hover {

        background: oklch(from var(--color-gray-200) l c h / 0.8); //Added slightly lighter / darker background when hovering items ~URB!

    }

    .media-device-name {

        font-size: .8rem; //Changed size from pixels to rem ~URB!

    }

    button[data-skin="transparent"] {

        display: none; //Turns off additional mixer settings since there is the same mixer in the main button ~URB!

    }

}
